@import 'reset.css';

@font-face {
  font-family: 'Raleway Light';
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
  /* font-weight: 400; */
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  /* font-weight: 500; */
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  /* font-weight: 600; */
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  /* font-weight: 700; */
  font-display: swap;
}

body {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  background-color: #2e3141;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(../img/bg.jpg);
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
}

#container {
  height: calc(var(--vh, 1vh) * 100);
}

.customer-review {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 8;
  -moz-box-orient: vertical;
}

body.is-preload #banner #logo {
  -moz-transform: translateY(0.5em);
  -webkit-transform: translateY(0.5em);
  -ms-transform: translateY(0.5em);
  transform: translateY(0.5em);
  opacity: 0;
}

body.is-preload #banner h1 {
  opacity: 0;
  -moz-transform: translateX(0.25em);
  -webkit-transform: translateX(0.25em);
  -ms-transform: translateX(0.25em);
  transform: translateX(0.25em);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

body.is-preload #banner p {
  opacity: 0;
  -moz-transform: translateX(0.5em);
  -webkit-transform: translateX(0.5em);
  -ms-transform: translateX(0.5em);
  transform: translateX(0.5em);
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
